appnope
backcall
boto3
botocore
decorator
ipython
ipython-genutils
jedi
jmespath
matplotlib-inline
numpy
pandas
parso
pexpect
pickleshare
pivottablejs
prompt-toolkit
ptyprocess
Pygments
python-dateutil
pytz
s3transfer
six
traitlets
urllib3
wcwidth
tabulate